* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$black: #000;
$orange: #EF941D;
$yellow: #FFEB3C;
$red: #E74E25;

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

}


table {
    border-collapse: collapse;
    border:none;
    margin-top: 16px;
}

td {
    width: 2vw;
    height: 2vw;
    border: none;
    text-align: center;
    vertical-align: center;
    font-size: 20px;

    &.bg2__18,
    &.bg3__18,
    &.bg3__19,
    &.bg4__18,
    &.bg4__19,

    &.bg5__17,
    &.bg5__18,
    &.bg5__19,
    &.bg5__20,
    
    &.bg6__17,
    &.bg6__18,
    &.bg6__19,
    &.bg6__20,
    
    &.bg7__17,
    &.bg7__20 {
        background-color: $red;
    }

    &.bg8__18,
    &.bg7__18,
    &.bg7__19,
    &.bg6__19,
    &.bg11__7,
    &.bg11__8,
    &.bg12__7,
    &.bg12__8,
    &.bg12__9,
    &.bg13__8,
    &.bg13__9,
    &.bg13__10,
    &.bg14__9,
    &.bg14__10 {
        background-color: $yellow;
    }
    

    &.bg2__5,
    &.bg2__6,
    &.bg2__7,
    &.bg2__8,
    &.bg3__4,
    &.bg3__5,
    &.bg3__6,
    &.bg3__7,
    &.bg3__8,
    &.bg3__9,
    
    &.bg4__4,
    &.bg4__5,
    &.bg4__6,
    &.bg4__7,
    &.bg4__8,
    &.bg4__9, 
    
    &.bg5__3,
    &.bg5__4,
    &.bg5__5,
    &.bg5__8,
    &.bg5__9,
    &.bg5__10,
    
    &.bg6__2,
    &.bg6__3,
    &.bg6__4,
    &.bg6__5,
    &.bg6__8,
    &.bg6__9,
    &.bg6__10,
    
    &.bg7__2,
    &.bg7__3,
    &.bg7__4,
    &.bg7__5,
    &.bg7__8,
    &.bg7__9,
    &.bg7__10,
    &.bg7__11,
    
    &.bg8__3,
    &.bg8__4,
    &.bg8__5,
    &.bg8__6,
    &.bg8__7,
    &.bg8__8,
    &.bg8__9,
    &.bg8__10,
    &.bg8__11,
    
    &.bg9__5,
    &.bg9__6,
    &.bg9__7,
    &.bg9__8,
    &.bg9__9,
    &.bg9__10,
    &.bg9__11,
    &.bg9__12,
    
    &.bg10__8,
    &.bg10__9,
    &.bg10__11,
    &.bg10__12,
    &.bg10__13,
    &.bg10__17,
    &.bg11__17,
    &.bg12__17,
    &.bg9__18,
    &.bg10__18,
    
    &.bg11__10,
    &.bg11__11,
    &.bg11__12,
    &.bg11__13,
    &.bg11__16,
    &.bg12__16,
    &.bg13__16,
    
    &.bg12__12,
    &.bg12__13,
    &.bg12__14,
    
    &.bg13__11,
    &.bg13__12,
    &.bg13__13,
    &.bg13__14,
    &.bg14__11,
    &.bg14__12,
    &.bg14__13,
    &.bg15__12,
    &.bg16__12 {
        background-color: $orange;
    }

    &.bg1__5,
    &.bg1__6,
    &.bg1__7,
    &.bg1__8,
    &.bg3__10,
    &.bg4__10,
    &.bg5__11,
    &.bg6__11,
    &.bg7__12,
    &.bg8__12,
    &.bg10__14,
    &.bg11__14,
    &.bg10__5,
    &.bg10__6,
    &.bg10__7,
    &.bg11__6,
    &.bg12__15,
    &.bg13__15,
    &.bg14__15,
    &.bg3__3,
    &.bg4__3,
    &.bg6__1, 
    &.bg7__1,
    &.bg9__3,
    &.bg9__4,
    &.bg12__6, 
    &.bg9__13, 
    &.bg2__9, 
    &.bg2__4,
    &.bg5__2,
    &.bg8__2,
    &.bg13__5,
    &.bg13__7,
    &.bg14__6,
    &.bg14__7,
    &.bg14__8,
    &.bg15__9,
    &.bg15__10,
    &.bg15__11,
    &.bg16__10,
    &.bg17__11,
    &.bg17__12,
    &.bg17__13,
    &.bg17__14,
    &.bg16__14,
    &.bg15__13,
    &.bg15__14,
    &.bg14__14,
    &.bg11__15,
    &.bg10__16,
    &.bg9__17,
    &.bg8__17,
    &.bg7__16,
    &.bg6__16,
    &.bg5__16,
    &.bg4__17,
    &.bg3__17,
    &.bg2__17,
    &.bg1__18,
    &.bg2__19,
    &.bg3__20,
    &.bg4__20,
    &.bg5__21,
    &.bg6__21,
    &.bg7__21,
    &.bg8__20,
    &.bg8__19,
    &.bg9__19,
    &.bg10__19,
    &.bg11__18,
    &.bg12__18,
    &.bg13__17,
    &.bg14__16,
    &.bg5__7,
    &.bg6__7,
    &.bg7__7,
    &.bg7__6,
    &.bg6__6,
    &.bg10__10,
    &.bg11__9,
    &.bg12__10,
    &.bg12__11     {
        background-color: $black;
    }
       
    
        

    
    
  
}
